{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="row">
        {% for post in object_list %}
            <div class="col-3">
                <div class="card bg-light shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top" src="{% static 'img/plaza.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.desde }} --> {{ post.hasta }}</h5>
                        <p class="card-text">Transportista: {{ post.author }}</p>
                        <p class="card-text"><small class="text-muted">Disponibilidad: {{ post.disponibilidad }}</small></p>
                    </div>  
                    <a href="{% url 'post-detail' post.pk %}">Ver mas</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}