{% extends 'index.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col">
        <div class="wrapper">
            <div class="title">
                Formulario de Registro 
            </div>
            <div class="form">
                <div class="form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input_field">
                            <label for="id_username">Usuario</label>
                            <input type="text" name="username" id="id_username" class="input" required>
                        </div>

                        <div class="input_field">
                            <label for="id_first_name">Nombre/s</label>
                            <input type="text" name="first_name" id="id_first_name" class="input" required>
                        </div>

                        <div class="input_field">
                            <label for="id_last_name">Apellido/s</label>
                            <input type="text" name="last_name" id="id_last_name" class="input" required>
                        </div>

                        <div class="input_field">
                            <label for="id_password">Contraseña</label>
                            <input type="password" name="password" id="id_password" class="input" required>
                        </div>

                        <div class="input_field">
                            <label>Confirmar contraseña</label>
                            <input type="password" class="input" required name="contrasena2">
                        </div>
                        
                        <div class="input_field">
                            <label for="id_email">Email</label>
                            <input type="email" class="input" name="email" id="id_email" required>
                        </div> 

                        <div class="input_field" terms>
                            <label class="check">
                                <input type="checkbox" required>
                                <span class="checkmark"></span>
                            </label>
                            <p class="checkmark">Acepto los terminos y condiciones</p>
                        </div>
                        <div class="input_field">
                            <input type="submit" value="Register" class="btn" role="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- 
<div class="input_field">
    <label>CUIL/CUIT</label>
    <input type="number" class="input" required name="cuil_cuit">
</div>
<div class="input_field">
    <label>Direccion</label>
    <input type="text" class="input" required name="direccion">
</div>
<div class="input_field">
                            <label>¿Particular o empresa?</label>
                            <input type="radio" id="Particular" name="tipo" value="Particular" required>
                            <label for="Particular">Particular</label>
                            <input type="radio" id="Empresa" name="tipo" value="Empresa" required>
                            <label for="Empresa">Empresa</label>
                        </div>
                        <div class="input_field">
                            <label>Telefono</label>
                            <input type="number" class="input" required name="telefono">
                        </div>
-->